// ROBOTO font from google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// IRAN YEKAN font
@font-face {
  font-family: 'iran yekan';
  src: url(IranYekan/IRANYekanRegular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'iran yekan';
  src: url(IranYekan/IRANYekanMedium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'iran yekan';
  src: url(IranYekan/IRANYekanBold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'iran yekan';
  src: url(IranYekan/IRANYekanBlack.ttf);
  font-style: normal;
  font-weight: 800;
}

// Iran sans font
@font-face {
  font-family: 'iran sans';
  src: url(IranSans/IRANSansWeb\(FaNum\).ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'iran sans';
  src: url(IranSans/IRANSansWeb\(FaNum\)_Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'iran sans';
  src: url(IranSans/IRANSansWeb\(FaNum\)_Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
