@media screen and (max-width: 415px) {
  main {
    flex-direction: column;
    height: 85vh;
  }

  .player {
    padding: 10rem;
  }

  .btn {
    font-size: 2.2rem;
  }
  .btn--new {
    top: 3rem;
  }

  .dice {
    left: 10%;
    top: 46%;
    transform: none;
    height: 8rem;
  }

  .btn--roll {
    top: 44%;
    left: 70%;
  }

  .btn--hold {
    top: 51%;
    transform: translateX(-28%);
    padding: 1rem 2rem;
  }

  .current {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(30px);
  }

  .player h2 {
    font-size: 3rem;
  }

  .player .score {
    font-size: 5rem;
    margin-bottom: 0;
  }

  .current-label {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 376px) {
  main {
    height: 100vh;
  }
  .current-label {
    font-size: 2rem;
  }

  .curren-score {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  .btn--new {
    top: 3rem;
  }

  .btn--roll {
    top: 46%;
  }

  .btn--hold {
    transform: translateX(-20%);
    top: 56%;
  }

  .dice {
    top: 48%;
  }
}

@media screen and (max-width: 400px) {
  main {
    height: 80rem;
  }
  .current {
    width: 20rem;
  }

  .btn--roll {
    top: 42%;

    padding: 1rem 1rem;
  }

  .btn--hold {
    padding: 1rem 1rem;
  }
}
